{% extends 'base.html' %}


{% block title %}
    Privacy Policy
{% endblock %}
    

{% block content %}
{% comment %} Create privacy policy page with bootstrap for my application, which is web application and have features for booking via whatsapp chatbot and razorpay for online payment. Also its a management application used by staff of this fun world for handling user's booking on ground
     {% endcomment %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Privacy Policy</h1>
            <p>At Fun World, accessible from management.shreeganeshafunworld.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Shree Ganesha Fun World and how we use it.</p>
            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us at <a href="tel:+917778819835">+917778819835</a>.</p>
            <p>This Privacy Policy applies only to our online activities and is valid for <b>customers who made Booking via our WhatsApp Chatbot</b> with regards to the information that they shared and/or collect in Shree Ganesha Fun World. This policy is not applicable to any information collected offline or via channels other than this webapp and WhatsApp Chatbot.</p>
            <h2>Consent</h2>
            <p>By using our WhatsApp chatbot, you hereby consent to our Privacy Policy and agree to its terms.</p>
            <h2>Information we collect</h2>
            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
            <p>If you contact us directly, we may receive additional information about you such as your name, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
            <p>When you book a ticket via WhatsApp, we may ask for your contact information, including items such as whatsapp number and payment method (via Razorpay).</p>
            <h2>How we use your information</h2>
            <p>We use the information we collect in various ways, including to:</p>
            <ul>
                <li>Provide and maintain our services.</li>
                <li>Process transactions and send you related information.</li>
                <li>Improve our services and develop new ones.</li>
                <li>Communicate with you, respond to your inquiries, and provide customer support.</li>
            </ul>
            <h2>Log Files</h2>
            <p>Shree Ganesha Fun World follows a standard procedure of using log files. These files log info when customer book made a booking via WhatsApp chatbot, and errors that may occur during runtime. The information collected by log files include data entered by user while booking, content of error (if any occur while runtime), date and time stamp. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing performance, administering the site, help provide customer support in case of booking verification failure, and gathering error and warning information..</p>
            <h2>Advertising Partners Privacy Policies</h2>
            <p>You may consult this list to find the Privacy Policy for each of the advertising partners of Fun World.</p>
            <p>Note that Shree Ganesha Fun World has no access to or control over these cookies that are used by third-party advertisers.</p>
            <h2>Third Party Privacy Policies</h2>
            <p>Shree Ganesha Fun World's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>
            <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
            <h2>Your Data Protection Rights</h2>
            <p>In accordance with Indian laws, you have the right to:</p>
            <p>Access and update your personal data.</p>
            <p>Request the deletion of your personal data, subject to legal obligations.</p>
            <p>Withdraw your consent for data processing.</p>
            <p>Lodge a complaint with the relevant authority.</p>
            <h2>GDPR Data Protection Rights</h2>
            <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
            <p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
            <p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
            <p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
            <p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
            <p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
            <p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
            <h2>Children's Information</h2>
            <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
            <p>Shree Ganesha Fun World does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information to our WhatsApp chatbot, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
        </div>
    </div>
</div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 w-100 text-center">
                    <b>&copy; 2024 Shree Ganesha Fun World. All Rights Reserved.</b>
                </div>
            </div>
        </div>
    </footer>



{% endblock %}
    
