{% extends 'base.html' %} {% block content %}
<style>
  @media print {
    /* Ensure no page breaks */
    @page {
      width: 500px;
      margin: 0;
    }
  }

  .separator {
    border-top: 5px dashed black;
  }

  * {
    font-size: 1.2rem;
  }

  .detail-table {
    width: 100%;
  }

  body{
    max-width: 500px;
  }
</style>

<div id="ticket">
  <div
    class="w-100 bg-danger p-5"
  >
    <img src="data:image/png;base64,{{ qr_code_url }}" class="w-100" />
  </div>
  <div class="w-100 separator" />
  <div class="w-100">
    <div class="">
      <table class="table table-sm">
        <tbody>
          <tr>
            <th>WA Number</th>
            <td>adads</td>
          </tr>
          <tr>
            <th>Booking ID</th>
            <td>adads</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
