{% extends 'base.html' %} {% block title %}Booking History{% endblock %} {% load crispy_forms_tags %} 
{% block content%}
<style>
    .table-header-item {
        background-color: #474747 !important;
        color: white !important;
        text-align: center;
    }
</style>

<div class="card  mx-5 mb-2">
    <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'booking_home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'react_app' %}">QR Code Scanner</a></li>
                <li class="breadcrumb-item active" aria-current="page">Booking History</li>
            </ol>
        </nav>
    </div>
</div>

<div class="mx-5 mb-2">
    <div class="w-100 d-flex align-items-center justify-content-between">
        <h3 class="mb-2">Booking History</h3>
        <form method="get" action="{% url 'booking_history' %}" class="d-flex align-items-center justify-content-center">
            <input class="form-control" type="text" id="search-input" placeholder="10 digit WhatsApp Number" value='{{request.GET.wa_number}}' pattern="^\d{10}$" name="wa_number" />
            <button class="btn btn-primary" id="wa-search-btn">Search</button>
        </form>
    </div>

    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th class="table-header-item">WhatsApp Number</th>
                <th class="table-header-item">Date</th>
                <th class="table-header-item">Booking Type</th>
                <th class="table-header-item">Adult<br/>(Male)</th>
                <th class="table-header-item">Adult<br/>(Female)</th>
                <th class="table-header-item">Children</th>
                <th class="table-header-item">Infants</th>
                <th class="table-header-item">Total Amount</th>
                <th class="table-header-item">Amount Received</th>
                <th class="table-header-item">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td class="text-center">+{{booking.wa_number}}</td>
                <td class="text-center">{{booking.date}}</td>
                <td class="text-center">{{booking.booking_type}}</td>
                <td class="text-center">{{booking.adult_male}}</td>
                <td class="text-center">{{booking.adult_female}}</td>
                <td class="text-center">{{booking.child}}</td>
                <td class="text-center">{{booking.infant}}</td>
                <td class="text-center">{{booking.total_amount}}</td>
                <td class="text-center">{{booking.received_amount}}</td>
                <td class="text-center">
                    <a href="{% url 'booking_summary' booking.id %}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %} Add pagination with previous and next button here using bootstrap {% endcomment %}
    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if bookings.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{bookings.previous_page_number}}">Previous</a>
                </li>
                {% endif %}
                
                {% comment %} limit the number of pages to show in pagination to 10 below {% endcomment %}
                {% if bookings.paginator.num_pages > 5 %}
    {% for i in bookings.paginator.page_range %}
        {% if i == 1 %}
            <li class="page-item {% if i == bookings.number %}active{% endif %}">
                <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
        {% elif i == bookings.paginator.num_pages %}
            <li class="page-item {% if i == bookings.number %}active{% endif %}">
                <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
        {% elif i > bookings.number|add:"-2" and i < bookings.number|add:"2" %}
            <li class="page-item {% if i == bookings.number %}active{% endif %}">
                <a class="page-link" href="?page={{i}}">{{i}}</a>
            </li>
        {% elif i == bookings.number|add:"-2" or i == bookings.number|add:"2" %}
            <li class="page-item disabled">
                <span class="page-link">...</span>
            </li>
        {% endif %}
    {% endfor %}
{% else %}
    {% for i in bookings.paginator.page_range %}
        <li class="page-item {% if i == bookings.number %}active{% endif %}">
            <a class="page-link" href="?page={{i}}">{{i}}</a>
        </li>
    {% endfor %}
{% endif %}


            </ul>
        </nav>
    </div>
    
</div>
</div>
<script>
    document.getElementById('wa-search-btn').addEventListener('click', function () {
        let searchInput = document.getElementById('search-input').value;
        if (searchInput.length === 10) {
            window.location.href = `/bookings/history/?wa_number=${searchInput}`;
        } else if (searchInput.length === 0) {
            window.location.href = `/bookings/history`;
        } else {
            alert('Please enter a valid 10 digit WhatsApp number');
        }
    });
</script>
{% endblock %}