{% extends 'base.html' %} {% block content %}
{% load humanize %}
{% load static %}
<style>
  @media print {
    /* Ensure no page breaks */
    @page {
      width: 600px;
      height: 1600px;
      margin: 0;
    }
  }

  .separator {
    border-top: 5px dashed black;
  }

  * {
    font-size: 1.2rem;
  }
  
  .terms > li {
    font-size: 0.8rem !important;
    font-weight: 700;
  }
  
  th, td {
    font-size: 1rem;
  }
  
  .detail-table {
    width: 100%;
  }
  
  body{
    max-width: 600px;
    font-weight: 300;
  }

  .logo-img{
    height: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
  }
</style>

<div id="ticket">
  <div
    class="w-100 position-relative"
  >
    <img src="{% static 'images/logo.png' %}" class="logo-img" style="object-fit: contain; max-height: 80px; z-index: 2;" />
    <img src="data:image/png;base64,{{ qr_code_url }}" class="w-100" style="margin-top: 80px;" />
  </div>
  <div class="w-100 separator" />
  <div class="w-100">
    <div class="px-2">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <th>WA Number</th>
            <td colspan="3">+{{booking.wa_number}}</td>
          </tr>
          <tr>
            <th>Date</th>
            <td colspan="3">{{booking.date}}</td>
          </tr>
          <tr>
            <td colspan="4"/>
          </tr>
          <tr class="table-group-divider text-center">
            <th>Item</th> 
            <th>Rate</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          <tr>
            <th>Adults (Male)</th>
            <td class="text-center">{{adult_male_price}}</td>
            <td class="text-center">{{booking.adult_male}}</td>
            <td class="text-end">{{adult_male_total}}</td>
          </tr>
          <tr>
            <th>Adults (Female)</th>
            <td class="text-center">{{ adult_female_price }}</td>
            <td class="text-center">{{booking.adult_female}}</td>
            <td class="text-end">{{adult_female_total}}</td>
          </tr>
          <tr>
            <th>Children</th>
            <td class="text-center">{{child_price}}</td>
            <td class="text-center">{{ booking.child }}</td>
            <td class="text-end">{{child_total }}</td>
          </tr>
          
          {% if booking.infant > 0 %}
            <tr>
              <th>Infants</th>
              <td class="text-center">0.00</td>
              <td class="text-center">{{booking.infant}}</td>
              <td class="text-end">0.00</td>
            </tr>
          {% endif %}
          
          
          {% if costume_data %}
            <tr>
              <th colspan="4" class="text-center bg-secondary text-white">Costume</th>
            </tr>
          {% endif %}
          
          {% for costume in costume_data %}
            <tr>
              <th>{{costume.costume}}</th>
              <td class="text-center">{{costume.costume.price}}</td>
              <td class="text-center">{{costume.quantity}}</td>
              <td class="text-end">{{costume.deposit_amount}}</td>
            </tr>
          {% endfor %}
          <tr>
            <th colspan="3" class="text-end">SGST (9%)</th>
            <td class="text-end">{{sgst_amount}}</td>
          </tr>
          <tr>
            <th colspan="3" class="text-end">CGST (9%)</th>
            <td class="text-end">{{cgst_amount}}</td>
          </tr>
          <tr>
            <th colspan="3" class="text-end">Total GST (18%)</th>
            <td class="text-end">{{gst_amount}}</td>
          </tr>
          <tr >
            <th colspan="2" class="text-end bg-secondary text-white">Total</th>
            <th colspan="2" class="text-end bg-secondary text-warning">{{booking.total_amount|floatformat:2|intcomma}} INR</th>
          </tr>
          <tr>
            <th colspan="3" class="text-end">Received Amount</th>
            <td class="text-end">{{booking.received_amount}}</td>
          </tr>
          <tr >
            <th colspan="2" class="text-end bg-secondary text-white">Remaining Amount</th>
            <th colspan="2" class="text-end bg-secondary text-warning">{{amount_to_collect|floatformat:2|intcomma}} INR</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="w-100 separator" />
  
  <ul class="text-danger terms" style="font-size: 0.8rem !important;">
    <li>
      Tickets once booked cannot be cancelled or refunded.
    </li>
    <li>
      All rides are included in the ticket.
    </li>
    
    {% if booking.infant > 0 %}
    <li class="list-group-item-danger">For infants please carry a valid ID proof for Date of birth verification.</li>
    {% endif %}
    
    <li>
      Please carry this ticket with you for verification.
    </li>      
  </ul>
  
  <div class="w-100 separator" />
  <footer class="w-100">
    <p class="text-center"><b>Thank you for visiting <br/>Shree Ganesh Fun World</b></p>
  </footer>
</div>

{% endblock %}
