{% extends 'base.html' %}

{% block content %}
    <div class="card  mx-5 mb-2">
        <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'booking_home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'react_app' %}">QR Code Scanner</a></li>
            <li class="breadcrumb-item"><a href="{% url 'booking_create' %}">Add Booking</a></li>
            <li class="breadcrumb-item active" aria-current="page">Booking Summary</li>
            </ol>
        </nav>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        Booking Summary
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p><strong>WA Number:</strong> +{{ wa_number }}</p>
                                <p><strong>Date:</strong> {{ date }}</p>
                                <p><strong>Adult (Male):</strong> {{ adult_male }}</p>
                                <p><strong>Adult (Female):</strong> {{ adult_female }}</p>
                                <p><strong>Child:</strong> {{ child }}</p>
                                <p><strong>Infant:</strong> {{ infant }}</p>
                            </div>
                            
                            <div class="col-md-6">
                                <p><strong>Booked On:</strong> {{ booked_on }}</p>
                                <p><strong>Ticket Amount:</strong> <span>{{ ticket_amount }} ₹</span></p>
                                <p><strong>Costume Amount:</strong> <span>{{ costume_amount }} ₹</span></p>
                                <p><strong>Total Amount:</strong> <span>{{ total_amount }} ₹</span></p>
                                <p><strong>Received Amount:</strong> <span>{{ received_amount }} ₹</span></p>
                                <p><strong>Amount to Collect:</strong> <span>{{ amount_to_collect }} ₹</span></p>
                            </div>
                        </div>
                    </div>
                    {% comment %} this buttons should be equally spaced and have some gap in between them also use icons along with text if possible {% endcomment %}
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-4">
                                <a href="{% url 'booking_edit' booking_id %}" class="btn btn-primary w-100 h-100 text-center">Edit</a>
                            </div>
                            <div class="col-4">
                                <a href="{% url 'booking_payment' booking_id %}" class="btn btn-warning w-100 h-100 text-center">Add Payment</a>
                            </div>
                            <div class="col-4">
                                <a href="{% url 'booking_payment_records' booking_id %}" class="btn btn-info w-100 h-100 text-center">Payment Records</a>
                            </div>
                            <div class="col mt-2">
                                <button id="send-booking-ticket" class="btn btn-success w-100 h-100 text-center">Send Ticket To WhatsApp</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            let sendTicketBtn = document.getElementById('send-booking-ticket')
            document.getElementById('send-booking-ticket').addEventListener('click', async function() {
                sendTicketBtn.disabled = true
                let res = await fetch("{% url 'booking_ticket' booking_id %}")
                if (!res.ok) {
                    alert(await res.json())
                }
                sendTicketBtn.disabled = false
            })
        </script>

{% endblock %}


