{% extends 'base.html' %} {% block title %} Home {% endblock %}
{% block content %}
<style>
  .card-link-item {
    min-height: 150px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #00000033;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  }

  .card-link-item:hover {
    background-color: #f8f9fa;
    color: gray;
  }
</style>
<div class="w-100 px-2 pt-3" style="border-bottom: 5px solid #f8f9fa;">
  <h3 class="p-3 pb-3">Gate Management System</h3>
</div>

<div class="h-100 row p-4 gap-1">
  <a href="{% url 'react_app' %}" class="col-6 col-md-4 btn btn-outline-secondary text-center card-link-item">
    Scan QR Code
  </a>
  <a href="{% url 'booking_history' %}" class="col-6 col-md-4 btn btn-outline-secondary text-center card-link-item">
    Booking History
  </a>
</div>
{% endblock %}